# Ignore PyCharm specific files
.idea/
*.iml

# Ignore venv folder
venv/

# Ignore pytest_cache folder
.pytest_cache/

# Other typical exclusions
*.pyc
__pycache__/
.DS_Store

# Ignore allure results folder
allure-results/
allure-report/

# Ignore playwright screenshots and video folder
test-results

# Ignore logs
logs